/build/
*.o
*.a
*.so
*.out
*.exe
*.dll
*.dylib
*.ilk
*.exp
*.lib
*.sln
*.vcxproj*
*.obj
*.pdb
*.i
*.s

/.cache/
.cache/
*.cache

compile_commands.json
.deps/
*.d

.DS_Store
Thumbs.db
*.orig
*.un~

*.log
*.test
*.core
*.pid
